/lib/
/*~
*~
Makefile*
*.o
*.exe
*.so*
/mosek
/*/build
moc_*
/bin/
/app/meuh/meuh
/app/meuh/meuh_wrap.cxx
/app/meuh/meuh.jar
/app/meuh/object_script*
.qglviewer.xml
/build/custom.pro
/.history
/callgrind.out.*
/share/mocap/bvh
